
# /
/*.cmake
/*.suo
/*.sln
/*.vcxproj
/*.vcproj
/*.vcxproj.*
/*.vcproj.*
/CMakeCache.txt
/CMakeFiles
/Makefile
/Debug
/*.dir
/*.log
/*.sdf
/*.ncb
/ipch
/Release
/Debug
/crctrl*

# /helpers/
/helpers/*.cmake
/helpers/*.suo
/helpers/*.sln
/helpers/*.vcxproj
/helpers/*.vcproj
/helpers/*.vcxproj.*
/helpers/*.vcproj.*
/helpers/CMakeCache.txt
/helpers/CMakeFiles
/helpers/Makefile
/helpers/Debug
/helpers/*.dir
/helpers/*.log
/helpers/*.bak
/helpers/MinSizeRel
/helpers/Release
/helpers/RelWithDebInfo

# /inc/
/inc/*.cmake
/inc/*.suo
/inc/*.sln
/inc/*.vcxproj
/inc/*.vcproj
/inc/*.vcxproj.*
/inc/*.vcproj.*
/inc/CMakeCache.txt
/inc/CMakeFiles
/inc/Makefile
/inc/Debug
/inc/*.dir
/inc/*.log

# /src/
/src/*.cmake
/src/*.suo
/src/*.sln
/src/*.vcxproj
/src/*.vcproj
/src/*.vcxproj.*
/src/*.vcproj.*
/src/CMakeCache.txt
/src/CMakeFiles
/src/Makefile
/src/Debug
/src/*.dir
/src/*.log
/src/crctrl
